:root {
  --primary-text-color: #fff;
  --tittle-text-color: #000;
  --description-text-color: #757575;
  --background-button-color: #f5f4fa;
  --accent-color-text: #2196f3;
  --main-color-text: #212121;
}
body {
  background-color: #fff;
  font-family: Roboto, sans-serif;
  color: var(--main-color-text);
  margin: 0px;
}
ul{
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  padding: 0px;
}
img{
  display: block ;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
.nav{
  padding-top: 24px;
  padding-bottom: 25px;
  display:flex ;
  align-items: center;
  justify-content: center;
}
.nav-logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.nav-logo2 {
  color: var(--main-color-text);
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.site-nav{
  margin-left: 93px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  display: flex;
}
.site-nav .site-nav__item:not(:last-child){
  margin-right: 50px;
}
.header{
  border-bottom: 1px; 
}
.site-nav__link {
  color: var(--main-color-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color-text);
}
.site-nav__link--current {
  color: var(--accent-color-text);
  
}
.site-nav__link--current::after{
  text-decoration: underline;
  content: "";
  background-color: #2196f3;
  width: 100%;
  height: 3px;
  transform: translateY(30px);
  display: flex;
}
.contacts-list{
  margin-left: auto;
  display: flex;
  align-items: center;
}
.contacts-list .contacts-list__item +.contacts-list__item{
  margin-left: 50px;
}
.contacts-list__link {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--accent-color-text);
}
.contacts-list__link--mail{
  margin-right: 10px;
  fill: currentColor;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}.contacts-list__link--phone{
  margin-right: 10px;
  fill: currentColor;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__item:hover{
  fill: var(--accent-color-text);
}
.section-slogan{
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image:linear-gradient( to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
  url(../images/backgroundimg.jpg);
  background-size: cover;
}
.section-slogan__button{
  color: var(--primary-text-color);
  background-color: var(--accent-color-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px, 32px, 10px, 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: none;
  min-width: 200px;
  min-height: 50px;
  cursor: pointer;
}
.section-slogan__title {
  color: var(--primary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
}
.information-list{
  display: flex;
  padding-left: 0px;
}
.information-list__item:not(:last-child){
  margin-right: 30px;
}
.information-meta{
  background-color:var(--background-button-color) ;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.information-subtitles {
  color: var(--main-color-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}
.information-description{
  color: var(--description-text-color);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.section-tittle {
  visibility: hidden;
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.section-specialization{
  padding-top: 0px;
  padding-bottom: 94px;
}
.section-specialization__tittle {
  color: var(--main-color-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}
.specialization-list{
  display: flex;
}
.specalization-list__item:not(:last-child){
  margin-right: 30px;
}
.specalization-thumb::before{
  display: flex;
  content: "";
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0px;
  background: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.thumb-one::before{
  content: "Десктопные приложения";
}
.thumb-two::before{
  content: "Мобильные приложения";
}
.thumb-three::before{
  content: "Дизайнерские решения";
}
.specalization-thumb{
  position: relative;
}
.section-team{
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-team__tittle{
  color: var(--main-color-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}
.team-list{
  display: flex;
}
.team-list__item:not(:last-child){
  margin-right: 30px;
}
.team-list__item{
  background-color: var(--primary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  color: var(--main-color-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 10px;
}
.teams-container{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team-specialization {
  color: var(--description-text-color);
  font-size: 16px;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.team-media__list{
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-media__link{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:#AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-media__list--item{
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.team-media__link:hover,
.team-media__link:focus{
  background-color: var(--accent-color-text);
  color: var(--primary-text-color);
}
.team-media__list--item:not(:last-child){
    margin-right: 10px;
}
.team-media__icon{
  width: 20px;
  height: 20px;
  fill:currentColor;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  width: 170px;
  height: 92px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color-text);
  color: var(--accent-color-text);
}
.client-list__item:not(:last-child){
  margin-right: 30px;
}
.client-list{
  display: flex;
}
.client-icon{
  width: 106px;
  height: 60px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-section{
  padding-bottom: 94px;
  padding-top: 94px;
}
.client-section__title{
  color: var(--main-color-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}
.footer{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  display: flex;
}
.addres-list{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 0px;
}
.footer-googlelink {
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-googlelink:hover,
.footer-googlelink:focus {
  color: var(--accent-color-text);
}
.addres-list__item:not(:last-child){
  margin-bottom: 9px;
}
.address-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color-text);
}
.distribution-tittle{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 0px;
  margin-bottom: 20px;
}
.footer-div-second{
  display: flex;
}
.footer-div-right{
  justify-content: center;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.footer-left{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-right: 70px;
}
.footer-center{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-right: 93px;
}
.footer-distrbution{
  display: flex;
}
.footer-distrbution__input{
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3); 
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  box-sizing: border-botx;
  background-color: #2f303a;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-right: 12px;
}
.footer-distrbution__button{
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.87;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  margin:auto;
  cursor: pointer;
}
.footer-distrbution__button--svg{
  width: 24px;
  height: 24px;
  padding-left: 10px;
}
.footer-social-icon{
  background: rgba(255, 255, 255, 0.1);
}
.footer-icon{
  fill: #fff;
}

.button-tittle {
  visibility: hidden;
  display: none;
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  background-color: #f5f4fa;
  padding: 6px 22px 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.button-list{
  margin-bottom: 50px;
  display: flex;
  justify-content: center;

}
.button:hover,
.button:focus {
  color: var(--primary-text-color);
  background-color: var(--accent-color-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-fotos{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
  width: 1200px;
}
.images-portfolio{
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  position: relative;
  overflow: hidden;
}
.images-portfolio:focus,
.images-portfolio:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-thumb-one{
  overflow: hidden;
}
.portfolio-thumb::after{
  position: absolute;
  display: flex;
  content: "";
  top: 0;
  width: 370px;
  height: 294px;
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
  opacity: 0;
}
.portfolio-thumb:hover::after{
  opacity: 1;
  transform: translateY(0);
}
.portfolio-thumb-one::after{
  
  content: "Ресурс предлагает комплексные предложения с разным уровнем функционала и сервисов. Все это позволит посетителю получить исчерпывающие сведения о компании или частном лице.";
}
.portfolio-thumb-two::after{
  content: "Новостной портал";
}
.portfolio-thumb-three::after{
  content: "Приложение для ресторана";
}
.portfolio-thumb-four::after{
  content: "Бренды";
}
.portfolio-thumb-five::after{
  content: "Приложения";
}
.portfolio-thumb-six::after{
  content: "Веб-сйты";
}
.portfolio-thumb-seven::after{
  content: "Новости";
}
.portfolio-thumb-eight::after{
  content: "Проекты";
}
.portfolio-thumb-nine::after{
  content: "Бизнес";
}

.img-descr {
  color: var(--description-text-color);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin: 0px;
}
.footer-logo {
  color: var(--primary-text-color);
}

.container{
  margin:0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.header-container{
  display: flex;
}
.head-section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.container-content{
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  
}
.address{
  margin-top: 20px;
  font-style: normal;
}

.welcom{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content:center ;
  align-items: center;
  margin-bottom: 20px;
}
.sub-list{
  display: flex;
  justify-content: center;
  align-items: center;

}
.sub-list-elem{
  justify-content: center;
  display: flex;
  align-items: center;
  
}
.backdrop{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(15, 12, 12, 0.5);
}
.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden.modal{
  transform:translate(-50%,-50%);
}
.modal{
  width: 528px;
  height: 581px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
  position: absolute;
  transition: transform 2250ms cubic-bezier(0.4,0,0.2,1);

}
.close-menu{
  position: absolute;
  padding: 0px;
  margin: 0px;
  min-height: 20px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  top:0px;
  right: 0px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
}
.close-menu:hover,
.close-menu:focus{
  color: var(--accent-color-text);
}
.tittle-form{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0px;
  margin-bottom: 12px;
}
.label-form{
  display: flex;
  flex-direction: column; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  border-color: var(--accent-color-text);
}
.input-form{
  margin-bottom: 10px;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 40px;   
  padding-left: 42px; 
  outline: none;
}
.input-form:focus{
  border-color: var(--accent-color-text);
}
.input-form:focus ~ .icon-form{
  color: var(--accent-color-text);
  border-color: var(--accent-color-text);
}
.modal-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.form-block{
  display:flex ;
  flex-direction: column;
}
.check-block{
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.check-block__text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 8px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.form-button{
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
}
.icon-form{
  width: 11px;
  height: 11px;
  position: absolute;
  top:12px;
  left: 10px;
  fill:currentColor;
}
.icon-close-form{
  width: 11px;
  height: 11px;
  position: absolute;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-input{
  position: absolute;
  top:10px;
  left: 10px;
}
.icon-block{
  position: relative;
  display: flex;
  flex-direction: column;
}
.footer-distrbution__button--svg{
  width: 24px;
  height: 24px;
  padding-left: 10px;
}
.link-form{
  color: var(--accent-color-text);
  text-decoration: underline;
}
.textarea{
  padding:12px 16px 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.textarea::placeholder{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}