.information-list{

    padding-left: 0px;
    display: block;
    @media screen and(min-width:480px) {
        width: 450px;
    }
    @media screen and(min-width:768px) {
        width: 768px;
        display: flex;
    }
    @media screen and(min-width:1200px) {
        width: 1200px;
        display: flex;
    }
    }
.information-list__item{
    @media screen and(min-width:480px) {
        width: 450px;
        &:not(:last-child){
            margin-bottom: 30px;
        }

    }
    @media screen and(min-width:1200px) {
        width: 1200px;
        &:not(:last-child){
            margin-bottom: 0px;
            margin-right: 30px;
    }
    }
}
.information-meta{
    background-color:$--background-button-color;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and(min-width:480px) {
        width: 450px;
    }
    @media screen and(min-width:768px) {
        display: flex;
    }
    @media screen and(min-width:1200px) {
        width: 270px;
        
    }
}
.information-subtitles {
    color: $--main-color-text;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
}
.information-description{
    color: $--description-text-color;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;
}
.section-tittle {
    visibility: hidden;
    display: none;
    margin-top: 0px;
    margin-bottom: 0px;
    }