.section-team{
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
    @media screen and(max-width:767px) {
      width: 480px;
  }
  @media screen and(min-width:768px) {
      width: 768px;

      display: flex;
  }
  @media screen and(min-width:1200px) {
      display: flex;
      width: auto;
      margin: auto;
  }
  }
  .section-team__tittle{
    color: $--main-color-text;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
  }
  .team-list{
    display: flex;
    @media screen and(max-width:767px) {
      width: 480px;
      display: block;
  }
  @media screen and(min-width:768px) {
      width: 768px;
      display: flex;
      flex-wrap: wrap;
  }
  @media screen and(min-width:1200px) {
      width: 1200px;
      
  }
  }
  .team-list__item{
    background-color: $--primary-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media screen and(max-width:767px) {
      width: 450px;
      &:not(:last-child){
        margin-bottom: 30px;
    }
  }

  @media screen and(min-width:768px) {
      width: 354px;
      margin-right: 30px;
      margin-bottom: 30px;
  }
  @media screen and(min-width:1200px) {
      width: 270px;
      
        margin-right: 30px;
 
  }
  }
  .team-list__img{
    @media screen and(max-width:767px) {
      width: 450px;
      
  }
  @media screen and(min-width:1200px) {
      width: 270px;
    
}

  }
  .team-name {
    color: $--main-color-text;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .teams-container{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  .team-specialization {
    color: $--description-text-color;
    font-size: 16px;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 16px;
  }
  .team-media__list{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .team-media__link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#AFB1B8;
    background-color:  rgba(255, 255, 255, 0.1);;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus{
            background-color: $--accent-color-text;
            color: $--primary-text-color;
    }
  }
  .team-media__list--item{
    width: 44px;
    height: 44px;
    border-radius: 50%;
        &:not(:last-child){
            margin-right: 10px;
        }
  }
  .team-media__icon{
    width: 20px;
    height: 20px;
    fill:currentColor;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }