.backdrop{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(15, 12, 12, 0.5);
  z-index: 2;
}
.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden.modal{
  transform:translate(-50%,-50%);
}
.modal{
  width: 528px;
  height: 581px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
  position: absolute;
  transition: transform 2250ms cubic-bezier(0.4,0,0.2,1);

    @media screen and(min-width:480px) {
      width: 450px;
    }
    @media screen and(min-width:1200px) {
      width: 528px;
    }
}
.close-menu{
  position: absolute;
  padding: 0px;
  margin: 0px;
  min-height: 20px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  top:0px;
  right: 0px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
      &:hover,
      &:focus{
          color: $--accent-color-text;
      }
}
.tittle-form{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0px;
  margin-bottom: 12px;
}
.label-form{
  display: flex;
  flex-direction: column; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  border-color: $--accent-color-text;
}
.input-form{
  margin-bottom: 10px;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 40px;   
  padding-left: 42px; 
  outline: none;
      &:focus{
          border-color: $--accent-color-text;
      }
}

.input-form:focus ~ .icon-form{
  color: $--accent-color-text;
  border-color: $--accent-color-text;
}
.modal-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.form-block{
  display:flex ;
  flex-direction: column;
}

.checkbox{
  -webkit-appearance: none;
  border-radius: 2px;
  background: #FFFFFF;
  position: absolute;
}
.check{
  width: 16px;
  height: 15px;
  position: absolute;
  background-image: url(../images/circle.svg);

  left: -20px;
  top: 4px;
  @media screen and(min-width:480px) {
    top:-2px
  }
  @media screen and(min-width:1200px) {
    top:4px
  }
}
.checkbox:checked + .check{
  background-image: url(../images/check.svg);
  border-radius: 2px;
  box-shadow:none;
  background-size: contain;
}
.check-block-text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 8px;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
  cursor: pointer;
  position: relative;
  @media screen and(min-width:480px) {
      width: 370px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.03em;
      margin-left: 40px;
  }
  @media screen and(min-width:1200px) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    width: auto;
    margin-left: 0px;
  }

}
.form-button{
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
  justify-content: center;
}
.icon-form{
  width: 11px;
  height: 11px;
  position: absolute;
  top:12px;
  left: 10px;
  fill:currentColor;
}
.icon-close-form{
  width: 11px;
  height: 11px;
  position: absolute;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-input{
  position: absolute;
  top:10px;
  left: 10px;
}
.icon-block{
  position: relative;
  display: flex;
  flex-direction: column;
}
.link-form{
  color: $--accent-color-text;
  text-decoration: underline;
}
.textarea{
  padding:12px 16px 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
      &::placeholder{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.01em;
          color: rgba(117, 117, 117, 0.5);
      }
}
