.nav{
    padding-top: 24px;
    padding-bottom: 25px;
    display:flex ;
    align-items: center;
    justify-content: center;
    position: relative;
    }
    .nav-logo {
        color: #2196f3;
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.17;
        letter-spacing: 0.03em;
      }
      .nav-logo2 {
        color: $--main-color-text;
        font-size: 26px;
        line-height: 1.17;
        letter-spacing: 0.03em;
      }
      
      .site-nav{
        margin-left: 93px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
        display: none;
        @media screen and(min-width:480px) {
          display: none;
        }
        @media screen and(min-width:768px) {
          display: flex;
        }
        @media screen and(min-width:1200px) { 
            display: flex;
      }
      }
      .site-nav .site-nav__item:not(:last-child){
        margin-right: 50px;
      }
      .site-nav__link {
        color: $--main-color-text;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,
            &:focus{
                color: $--accent-color-text;
            }
      }
      
      .site-nav__link--current {
        color: $--accent-color-text;
            &::after{
                text-decoration: underline;
                content: "";
                background-color: #2196f3;
                width: 100%;
                height: 3px;
                transform: translateY(30px);
                display: flex;
            }
        
      }
.site-nav__link--menu{
  color:$--accent-color-text;
}
.nav-menu{
  width: 24px;
  height: 15px;
  fill: currentColor;
}
.nav-close__menu{
  width: 24px;
  height: 15px;
  fill: currentColor;
}
.nav-menu__button{
  margin-left: 284px;
  background-color: #ffff;
  border: none;
  color: #000;
    &:hover,
    &:focus{
      color: #2196f3;
    }
  transition: color 250ms cubic-bezier(0.4,0,0.2,1);
  @media screen and(min-width:768px) {
    display: none;
  }
}


.menu-container{
  position: absolute;
  width: 480px;
  height: 786px;
  top:0;
  left:-3%;
  background-color: #fff;
  transform: translateY(-100%);
  transition: transform 250ms linear;
    &.is-open{
      transform: translateY(0%);
    }
}
.nav-close__menu--button{
  background-color: #ffff;
  border: none;
  margin-left: 440px;
  margin-top: 20px;
  transition: color 250ms cubic-bezier(0.4,0,0.2,1);
    &:hover,
    &:focus{
      color: #2196f3;
    }
}
